---
import Layout from '../layouts/Layout.astro';
import MainContainer from '../layouts/MainContainer.astro';
import Link from '../components/Link.astro';
import Timeline from '../components/Timeline.astro';
import Card from '../components/Card.astro';
import Tag from '../components/Tag.astro';
import Title from '../components/Title.astro';
import { PROFILE } from '../content/resume';
import { BIO } from '../content/resume';
---

<Layout title="Welcome to Alejandro's Portfolio">
	<MainContainer>
		<section class="about-container">
			<div class="about">
				<Title value='About me' type='h2'/>
				<p>{PROFILE}</p>
			</div>
			<div class="links-container">
				<Link
					title='Location'
					body='🇨🇴 Medellin, CO'
					href='/'
				/>
				<Link
					title='Github'
					body='@slydragonn'
					href='https://github.com/slydragonn'
				/>
				<Link
					title='Linkedin'
					body='@alejolg'
					href='https://www.linkedin.com/in/alejolg/'
				/>
				<Link
					title='Dev.to'
					body='@slydragonn'
					href='https://dev.to/slydragonn''
				/>
			</div>
		</section>
		<section class="tags-container">
			<Tag title='Python' bg='#3d4df5' color='white'/>
			<Tag title='Django' bg='#6bf53d' />
			<Tag title='Pandas' bg='#3df5b8' />
			<Tag title='Numpy' bg='#ae3df5' color='white'/>
			<Tag title='Unittest' bg='#3d87f5' color='white'/>
			<Tag title='POO' bg='#f5563d' color='white'/>
			<Tag title='JavaScript' bg='#f5d63d'/>
			<Tag title='HTML' bg='#f5463d' color='white'/>
			<Tag title='CSS' bg='#3d96f5' color='white'/>
			<Tag title='TypeScript' bg='#3d46f5' color='white'/>
			<Tag title='Next.js' bg='black' color='white'/>
			<Tag title='Linux' bg='#f53dd6' color='white'/>
			<Tag title='SQL' bg='#4cf53d'/>
			<Tag title='C/C++' bg='#3df5e9' color='black'/>
			<Tag title='Git' bg='#f5873d'/>
			<Tag title='Lua' bg='#7a3df5' color='white'/>
		</section>
		<Timeline
			title='Bio'
			data={BIO}
		/>
		<section class="recent-container">
			<Title value='Fixed' type='h2'/>
			<div>
				<Card
                    title="Ultimate Neovim Setup Guide: lazy.nvim Plugin Manager"
                    img='/post-lazy.jpg'
                    alt='Ultimate Neovim Setup'
                    href='https://dev.to/slydragonn/ultimate-neovim-setup-guide-lazynvim-plugin-manager-23b7'
                    size='lg'
                />
				<Card
				title="DEV.to"
				img='/devto.jpg'
				alt='dev.to slydragonn'
				href='/'
				size='lg'
				/>
			</div>
		</section>
	</MainContainer>
</Layout>

<style>
	.about-container {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}
	.about > p {
		max-width: 400px;
		font-size: 15px;
	}
	.links-container {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
		max-width: 40%;
	}
	.tags-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.recent-container > div {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	@media screen and (max-width: 790px) {
		.about-container {
			flex-direction: column;
		}
		.about > p {
			max-width: 100%;
		}
		.links-container {
			max-width: 100%;
		}
		.recent-container > div {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}
	}
</style>
