---
import SocialNetworks from "../components/SocialNetworks.astro";
import Layout from "../layouts/Layout.astro";
import MainContainer from "../layouts/MainContainer.astro"
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import SOCIAL_NETWORKS from "../constants/social-networks";
---

<Layout title="Works | Alejandro's Portfolio">
    <MainContainer>
        <SocialNetworks
            data={SOCIAL_NETWORKS}
        />
        <section>
            <Title value="All Projects" type="h2"/>
            <div class="card-container">
                <Card
                    title="Neovim Setups"
                    img='/neovim.jpg'
                    alt='Neovim setup'
                    href='/projects/neovim-setup'
                    size='full'
                    tech={["Lua", "VimScript", "Lazy.nvim", "Packer.nvim"]}
                />
                <Card
                    title="MarkWriter"
                    img='/markwriter.jpg'
                    alt='Simple Markdown Editor'
                    href='https://markwriter.vercel.app/'
                    size='full'
                    tech={["TypeScript", "Next.js", "Codemirror", "ChakraUI"]}
                />
                <Card
                    title="Blue River"
                    img='/blueriver.jpg'
                    alt='Blue River'
                    href='https://blue-river.vercel.app/'
                    size='full'
                    tech={["JavaScript", "Next.js"]}
                />
                <Card
                    title="Minimalist Portfolio Template"
                    img='/minimalist-dragon.jpg'
                    alt='Minimalist-dragon'
                    href='/projects/minimalist-dragon'
                    size='full'
                    tech={["JavaScript", "Astro"]}
                />
            </div>
        </section>
    </MainContainer>
</Layout>

<style>
    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
    }
</style>