<span class="badge">
    <slot/>
</span>

<style>
    .badge {
        font-size: 14px;
        font-weight: 600;
        background: rgb(60, 95, 3);
        color: greenyellow;
        padding: 2px 5px;
        border-radius: 3px;
        text-transform: uppercase;
        margin-right: 15px;
    }
</style>