---
import { Image } from 'astro:assets';
import COLORS from '../constants/colors';

interface Props {
    title: string;
    img: string;
    alt?: string;
    href: string;
    size: 'lg' | 'md' | 'full'
    tech?: string[]
}

const { title, img, alt, href, size, tech } = Astro.props

type Size = {
    width: string,
    height: string
}

function getSize(type: "md" | "lg" | "full"): Size {
    const sizeType = {
        "md": {
            width: "230px",
            height: "150px"
        },
        "lg": {
            width: "350px",
            height: "225px"
        },
        "full": {
            width: "100%",
            height: "auto"
        }
    }
    return sizeType[type]
}

const width = getSize(size).width;
const height = getSize(size).height;
---

<a href={href} class="card">
    <Image src={img} alt={alt ?? "Project Card"} width={250} height={200} />
    <h3>{title}</h3>
    {
        tech && <ul class="tech-list">{tech.map(el => <li class="tech-item">{"#" + el}</li>)}</ul>
    }
</a>

<style define:vars={{width, height, green: COLORS.green}}>
    .card {
        width: var(--width);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: width .3s;
        text-decoration: none;
    }
    .card > img {
        width: 100%;
        height: var(--height);
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid #d6d6d6;
    }
    .card > h3 {
        width: 90%;
        color: var(--black);
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        padding: 5px;
        transition: all .2s;
    }
    .card:hover > h3 {
        color: var(--green);
    }
    .tech-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        gap: 15px;
        color: #4b4b4b;
    }
    .tech-item {
        font-size: small;
        text-align: center;
    }
    @media screen and (max-width: 850px) {
		.card {
            width: 100%;
        }
        .card > img {
            height: auto;
        }
	}
</style>