---
import { Image } from 'astro:assets';
import COLORS from '../constants/colors';

interface Props {
    title: string;
    img: string;
    alt?: string;
    href: string;
    size?: 'lg' | 'md'
}

const { title, img, alt, href, size } = Astro.props

const width = size == 'lg' ? '350px' : '230px';
const height = size == 'lg' ? '225px' : '150px'
---

<a href={href} class="card">
    <Image src={img} alt={alt ?? "Project Card"} width={250} height={200}/>
    <h3>{title}</h3>
</a>

<style define:vars={{width, height, green: COLORS.green}}>
    .card {
        width: var(--width);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: width .3s;
        text-decoration: none;
    }
    .card > img {
        width: 100%;
        height: var(--height);
        border-radius: 5px;
        object-fit: cover;
    }
    .card > h3 {
        width: 90%;
        color: var(--black);
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        padding: 5px;
        transition: all .2s;
    }
    .card:hover > h3 {
        color: var(--green);
    }
    @media screen and (max-width: 600px) {
		.card {
            width: 100%;
        }
        .card > img {
            height: auto;
        }
	}
</style>