---
import COLORS from '../constants/colors';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<article class="project-feature">
    <span>{title}</span>
    <div>
        <slot />
    </div>
</article>

<style define:vars={{black: COLORS.black, green: COLORS.green}}>
    .project-feature {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        margin: 10px 0;
    }
    .project-feature > span {
        background-color: var(--green);
        color: var(--black);
        border: 1px solid transparent;
        border-radius: 9999px;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>