---
interface Props {
    title: string;
}

const { title } = Astro.props
---

<span class="tag">
    { title }
</span>

<style>
    .tag {
        background-color: white;
        border: 1px solid #d6d6d6;
        padding: 5px 10px;
        border-radius: 9999px;
        font-size: 13px;
        color: #1e1e1e;
    }
</style>